@charset "utf-8";
.bg_col1 {
	background-color: #abd6ed;
	background-image: url(bg_esq.jpg);
	background-repeat: repeat-x;
}
.bg {
	background-color: #A6D4EC;
	background-image: url(imagens/bg.gif);
	background-repeat: repeat-x;
}
.link1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #0d4d79;
	text-decoration: none;
}
.bg_meio {
	background-color: #A4D2EC;
	background-image: url(imagens/bg_meio.jpg);
	background-repeat: repeat-x;
}

.texto_home {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.bg_col2 {
	background-color: #abd6ed;
	background-image: url(imagens/bg_esq.jpg);
	background-repeat: repeat-x;
}
.bg_linha {
	background-image: url(imagens/linha.png);
	background-repeat: repeat-y;
}
.bg_meio2 {
	background-color: #aad5ed;
	background-image: url(imagens/bg_linha2.jpg);
	background-repeat: repeat-x;
}
.table1 {
	border: 1px dashed #FFF;
}
.link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #960;
	text-decoration: none;
}
.bg_emp {
	background-color: #A6D4EC;
	background-image: url(imagens/bg_empresa.jpg);
	background-repeat: repeat-x;
}
